/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: #333; /* Header background color */
    padding: 20px 0; /* Padding */
    text-align: center; /* Center-align text */
    width: 100%; /* Ensure full width */
    position: fixed; /* Fixed positioning */
    top: 0; /* Align to the top */
    z-index: 1000; /* Ensure it's above other content */
}

header h1 {
    margin: 0; /* Remove default margin */
    color: #fff; /* Title text color */
    font-size: 28px; /* Increase font size */
    text-transform: uppercase; /* Convert to uppercase */
}

/* Navigation Styles */
nav {
    float: right; /* Align to the right */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 10px;
}

nav ul li a {
    text-decoration:double;
    color: black; /* Change to white */
}

nav ul li a:hover {
    color: #ff0000;
}

/* Add padding to the body to prevent content from being hidden behind the fixed header */
body {
    padding-top: 80px; /* Adjust as needed based on the header height */
}

/* Section Styles */
section {
    padding: 20px;
}

/* Style each section with different backgrounds */
#home {
    background-color: #e6f7ff; /* Light blue background color */
}

#journal {
    background-color: hsl(210, 81%, 79%);
}

#progress {
    background-color: #236259;
}

#blog {
    background-color: hsla(121, 87%, 50%, 0.18); 
}

#lab {
    background-color: hsl(78, 29%, 27%);
}

#home {
    background-color: hwb(258 61% 35%); /* You can change this color to any color you like */
    color: white; /* Text color for contrast */
    padding: 20px; /* Padding for content */
}

/* Aside Styles */
aside {
    background-color: #f2f2f2; /* Light gray background color */
    padding: 10px;
    margin-top: 20px;
}

aside h3 {
    margin-top: 0;
}

aside ul {
    padding-left: 20px;
}

aside ul li {
    margin-bottom: 5px;
}

aside ul li a {
    text-decoration: none;
    color: #333;
}

aside ul li a:hover {
    color: #ff0000;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
}
