/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 80px;
    background-color: softgray;
}

/* Header Styles */
header {
    background-color: #333;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
    color: #fff;
    font-size: 28px;
    text-transform: uppercase;
}

/* Navigation Styles */
nav {
    float: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    color: #ff0000;
}
/* Section Styles */
section {
    padding: 60px;
    border-bottom: 4px solid hsl(0, 3%, 13%); 
}
/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
}
